| **Inicio** | **Siguiente 2** |
|----------- |---------------|
| [](../../README.md) | [](./2_Python_para_ciencia_de_datos.ipynb)|

# **1. Aprende Python: Curso completo para principiantes**

## **Ajustes y "Hello World"**

In [1]:
print("Hello World")

Hello World

## **Dibujar una forma**

In [2]:
print("    /|")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

## **Variables y Tipos de datos**

In [10]:
character_name = "john"
character_age = 35.5
is_male = False

print("There once was a man named " + character_name + ", ")
print("he was " + str(character_age) + " years old. ")
print("but didn't like being " + str(character_age) + ".")

character_name = "Michael"
print("There once was a man named " + character_name + ", ")
print("he was " + str(character_age) + " years old. ")
print("but didn't like being " + str(character_age) + ".")

There once was a man named john,
he was 35.5 years old.
but didn't like being 35.5.
There once was a man named Michael,
he was 35.5 years old.
but didn't like being 35.5.

## **Trabajando con strings**

In [11]:
print("Giraffe\nAcademy")

Giraffe
Academy

In [12]:
print("Giraffe\"Academy")

Giraffe"Academy

In [13]:
phrase = "Giraffe Academy"
print(phrase + " is cool")

Giraffe Academy is cool

In [16]:
phrase = "Giraffe Academy"
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase.index("Acade"))
print(phrase.replace("Giraffe", "Elephant"))

giraffe academy
GIRAFFE ACADEMY
False
True
15
G
8
Elephant Academy

## **Trabajar con n煤meros**

In [17]:
print(3 * (4 + 5))
print(10 % 3)

27
1

In [18]:
my_num = -5

print(my_num)
print(str(my_num) + " my favorite number")
print(abs(my_num))

-5
-5 my favorite number
5

In [20]:
print(pow(3, 2))
print(max(4, 6))
print(min(4, 6))
print(round(3.2))
print(round(3.7))

9
6
4
3
4

In [21]:
from math import *

print(floor(3.7))
print(ceil(3.7))
print(sqrt(36))

3
4
6.0

## **Conseguir inputs de usuarios**

In [22]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello " + name + "! Your are " + age)

Hello gustavo! Your are 25

## **Crear una calculadora b谩sica**

In [23]:
num1 = input("Enter a number: ")
num2 = input("Enter a number: ")

result = float(num1) + float(num2)

print(result)

14.0

## **Juego Mad Libs**

In [24]:
color = input("Enter a color: ")
plural_noun = input("Enter a Plural Noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Roses are rojo
television are blue
I love tongo

## **Listas**

In [25]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends)
print(friends[0])
print(friends[-1])
print(friends[1:])
print(friends[1:3])

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']
Kevin
Toby
['Karen', 'Jim', 'Oscar', 'Toby']
['Karen', 'Jim']

In [26]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends[1] = "Mike"

print(friends)
print(friends[1])

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']
Mike

## **Funciones de listas**

In [27]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.extend(lucky_numbers)

print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

In [28]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.append("Creed")
print(friends)

friends.insert(1, "Kelly")
print(friends)

friends.remove("Jim")
print(friends)

friends.clear()
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']
['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']
['Kevin', 'Kelly', 'Karen', 'Oscar', 'Toby', 'Creed']
[]

In [29]:
lucky_numbers = [42, 8, 15, 16, 23, 4]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
friends.pop()

print(friends)
print(friends.index("Kevin"))
print(friends.count("Jim"))

friends.sort()
print(friends)

lucky_numbers.sort()
print(lucky_numbers)

lucky_numbers.reverse()
print(lucky_numbers)

friends2 = friends.copy()
print(friends2)

['Kevin', 'Karen', 'Jim', 'Jim', 'Oscar']
0
2
['Jim', 'Jim', 'Karen', 'Kevin', 'Oscar']
[4, 8, 15, 16, 23, 42]
[42, 23, 16, 15, 8, 4]
['Jim', 'Jim', 'Karen', 'Kevin', 'Oscar']

## **Tuplas**

In [30]:
coordinates = (4, 5)

print(coordinates[0])
print(coordinates[1])

4
5

In [31]:
coordinates = [4, 5]
coordinates[1] = 10

print(coordinates[1])

10

In [32]:
coordinates = [(4, 5), (6, 7), (80, 34)]

print(coordinates[1])

(6, 7)

## **Funciones**

In [34]:
def say_hi():
  print("Hello User")

print("Top")
say_hi()
print("Bottom")

Top
Hello User
Bottom

In [37]:
def say_hi(name, age):
  print("Hello " + name + ", you are " + age)

say_hi("Mike", "35")
say_hi("Steve", "70")

Hello Mike, you are 35
Hello Steve, you are 70

In [38]:
def say_hi(name, age):
  print("Hello " + name + ", you are " + str(age))

say_hi("Mike", 35)
say_hi("Steve", 70)

Hello Mike, you are 35
Hello Steve, you are 70

## **Declaraci贸n Return**

In [39]:
def cube(num):
  return num*num*num

cube(3)

27

In [40]:
def cube(num):
  return num*num*num

result = cube(4)
(result)

64

## **Declaraci贸n If**

In [41]:
is_male = True

if is_male:
  print("You are a male")

You are a male

In [42]:
is_male = False

if is_male:
  print("You are a male")
else:
  print("You are not a male")

You are not a male

In [43]:
is_male = True
is_tall = True

if is_male or is_tall:
  print("You are a male or tall or both")
else:
  print("You neither male nor tall")

You are a male or tall or both

In [44]:
is_male = False
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
else:
  print("You are either not male or not tall or both")

You are either not male or not tall or both

In [45]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("You are a short male")
elif not(is_male) and is_tall:
  print("You are not a male but are tall")
else:
  print("You are either not male or not tall or both")

You are a short male

## **Declaraci贸n If y Comparaciones**

In [46]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3
max_num(3, 4, 5)

5

## **Crear una calculadora mejor**

In [47]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
  print(num1 + num2)
elif op == "-":
  print(num1 - num2)
elif op == "/":
  print(num1 / num2)
elif op == "*":
  print(num1 * num2)
else:
  print("Invalid operator")

28.0

## **Diccionarios**

In [48]:
monthConversions = {
  "Jan" : "January",
  "Feb" : "February",
  "Mar" : "March",
  "Apr" : "April",
  "May" : "May",
  "Jun" : "June",
  "Jul" : "July",
  "Aug" : "August",
  "Sep" : "September",
  "Oct" : "October",
  "Nov" : "November",
  "Dec" : "December"
}

print(monthConversions["Nov"])

November

In [49]:
print(monthConversions.get("Luv", "Not a valid key"))

Not a valid key

## **Repetici贸n While**

In [50]:
i = 1
while i <= 10:
  print(i)
  i += 1
print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

## **Crear un juego de adivinanzas**

In [51]:
secret_word = "giraffe"
guess = ""

while guess != secret_word:
  guess = input("Enter guess: ")
print("You win!")

You win!

In [54]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
  if guess_count < guess_limit:
    guess = input("Enter guess: ")
    guess_count += 1
  else:
    out_of_guesses = True
if out_of_guesses:
  print("Out of Guesses, YOU LOSER!")
else:
  print("You win!")

Out of Guesses, YOU LOSER!

## **Repetici贸n For**

In [55]:
for letter in "Giraffe Academy":
  print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [56]:
friends = ["Jim", "Karen", "Kevin"]
for name in friends:
  print(name)

Jim
Karen
Kevin

In [58]:
for index in range(3, 10):
  print(index)

3
4
5
6
7
8
9

In [59]:
friends = ["Jim", "Karen", "Kevin"]
for index in range(len(friends)):
  print(friends[index])

Jim
Karen
Kevin

In [61]:
for index in range(5):
  if index == 0:
    print("first Interation")
  else:
    print("Not first")

first Interation
Not first
Not first
Not first
Not first

## **Funci贸n exponencial**

In [62]:
def raise_to_power(base_num, pow_num):
  result = 1
  for index in range(pow_num):
    result = result * base_num
  return result
print(raise_to_power(3, 4))

81

## **Lista 2D y repeticiones anidadas**

In [63]:
number_grid = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9],
  [0]
]

print(number_grid[2][1])

8

In [64]:
number_grid = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9],
  [0]
]

for row in number_grid:
  for col in row:
    print(col)

1
2
3
4
5
6
7
8
9
0

## **Construir un traductor**

In [67]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      if letter.isupper():
        translation = translation + "G"
      else:
        translation = translation + "g"
    else:
      translation = translation + letter
  return translation
print(translate(input("Enter a phrase: ")))

Gn

## **Comentarios**

In [68]:
# This program is cool
'''
eso es
comentario de
varias lineas
'''
# print("Comments are fun")

'\neso es\ncomentario de\nvarias lineas\n'

## **Try / Except**

In [69]:
try:
  number = int(input("Enter a number: "))
  print(number)
except:
  print("Invalid Input")

Invalid Input

In [73]:
try:
  answer = 10/0
  number = int(input("Enter a number: "))
  print(number)
except ZeroDivisionError as err:
  print(err)
except ValueError:
  print("invalid input")

division by zero

## **Leer archivos**

In [74]:
employee_file = open("../data/employees.txt", "r+")
print(employee_file.readable())
employee_file.close()

True

In [75]:
employee_file = open("../data/employees.txt", "r+")
print(employee_file.read())
employee_file.close()

Jim - Salesman
Dwight - Salesman
Pam - Receptionist
Michael - Manager
Oscar - Accountant

In [76]:
employee_file = open("../data/employees.txt", "r+")
print(employee_file.readline())
employee_file.close()

Jim - Salesman

In [77]:
employee_file = open("../data/employees.txt", "r+")
print(employee_file.readlines())
employee_file.close()

['Jim - Salesman\n', 'Dwight - Salesman\n', 'Pam - Receptionist\n', 'Michael - Manager\n', 'Oscar - Accountant']

In [78]:
employee_file = open("../data/employees.txt", "r+")
print(employee_file.readlines()[1])
employee_file.close()

Dwight - Salesman

In [79]:
employee_file = open("../data/employees.txt", "r+")
for employee in employee_file.readlines():
  print(employee)
employee_file.close()

Jim - Salesman

Dwight - Salesman

Pam - Receptionist

Michael - Manager

Oscar - Accountant

## **Editar archivos**

In [80]:
employee_file = open("../data/employees.txt", "a")
employee_file.write("Toby - Human Resources")
employee_file.close()

In [81]:
employee_file = open("../data/employees.txt", "a")
employee_file.write("\nKelly - Customer Service")
employee_file.close()

In [82]:
employee_file = open("../data/employees1.txt", "w")
employee_file.write("\nKelly - Customer Service")
employee_file.close()

## **M贸dulos y semillas**

In [1]:
import sys
sys.path.append("../module/")

## **Clases y objetos**

## **Crear un test de opciones m煤ltiples**

In [3]:
from Question import Question

question_prompts = [
    "What color are apples?\n(a) Red/Green\n(b) Purple\n(c) Orange\n\n",
    "What color are Bananas?\n(a) Teal\n(b) Magenta\n(c) Yellow\n\n",
    "What color are strawberries?\n(a) Yellow\n(b) Red\n(c) Blue\n\n"
]

questions = [
    Question(question_prompts[0], "a"),
    Question(question_prompts[1], "c"),
    Question(question_prompts[2], "b"),
]


def run_test(questions):
    score = 0
    for question in questions:
        answer = input(question.prompt)
        if answer == question.answer:
            score += 1
    print("You got " + str(score) + "/" + str(len(questions)) + " Corret")


run_test(questions)

You got 1/3 Corret

## **Funciones de los objetos**

In [4]:
from Student import Student

student1 = Student("Jim", "Business", 3.1, False)
student2 = Student("Pam", "Art", 2.5, True)

print(student1.on_honor_roll())
print(student1.name)
print(student2.gpa)

False
Jim
2.5

## **Inheritance**

In [5]:
from Chef import Chef
from ChineseChef import ChineseChef

myChef = Chef()
myChef.make_chicken()
myChef.make_special_dish()

myChineseChef = ChineseChef()
myChineseChef.make_chicken()
myChineseChef.make_special_dish()

The chef makes a chicken
The chef makes bbq ribs
The chef makes a chicken
The chef makes orange chicken

## **Interpretador Python**

In [6]:
import useful_tools as useful_tools

print(useful_tools.roll_dice(10))

3

| **Inicio** | **Siguiente 2** |
|----------- |---------------|
| [](../../README.md) | [](./2_Python_para_ciencia_de_datos.ipynb)|