| **Inicio** | **atr谩s 2** |
|----------- |-------------- |
| [](../../README.md) | [](./2_Python_para_ciencia_de_datos.ipynb)|

# **3. Python para todos: curso universitario completo de Python**

## **Variables, expresiones y declaraciones**

### **Constantes**

* Los valores fijos como n煤meros, letras y cadenas se llaman constantes porque su valor no cambia.

* Las constantes num茅ricas son las esperadas.

* Las constantes de cadena usan comillas simples o dobles.

In [30]:
print(123)
print(98.6)
print('Hello world')

123
98.6
Hello world

### **Palabras reservadas**

no puede utilizar palabras reservadas como nombres/identificadores de variables.

| Palabras reservadas |
|--- |
| False |
| None |
|True|
|and|
|as|
|assert|
|break|
|class|
|if|
|def|
|del|
|elif|
|else|
|except|
|return|
|for|
|from|
|global|
|try|
|import|
|in|
|is|
|lambda|
|while|
|not|
|or|
|pass|
|raise|
|finally|
|continue|
|nonlocal|
|with|
|yield|

### **Variables**

* Una variable es un lugar con nombre en la memoria donde un programador puede almacenar datos y luego recuperarlos usando el nombre de la variable.

* Los programadores pueden elegir los nombres de las variables.

* Puede cambiar el contenido de una variable en una declaraci贸n posterior.

In [32]:
x = 12.2
y = 14
x = 100

### **Reglas de nombres de variables en Python**

* Debe comenzar con una letra o gui贸n bajo `_`.

* Debe constar de letras, n煤meros y guiones bajos.

* Distingue may煤sculas y min煤sculas.

| Good| Bad | Different |
|--- |--- |--- |
| span | 23span | span |
| _speed | #sign | Span |
|spam23|var.12|SPAM|

### **Nombres de VARIABLE MNMNICA**

* Dado que los programadores tenemos la posibilidad de elegir c贸mo elegimos los nombres de nuestras variables, existen algunas pr谩cticas recomendadas.

* Nombramos variables para ayudarnos a recordar lo que pretendemos almacenar en ellas ("mnem贸nico"="ayuda para la memoria).

* Esto puede confundir a los estudiantes principiantes porque las variables bien nombradas a menudo "suenan" tan bien que deben ser palabras clave.

In [1]:
a = 35.0
b = 12.50
c = a * b
print(c)

437.5

In [5]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

### **Oraciones o l铆neas**

In [1]:
x = 2
x = x + 2
print(x)

4

### **Declaraciones de tareas**

* Asignamos un valor a una variable usando la declaraci贸n de asignaci贸n (=).

* Una declaraci贸n de asignaci贸n consta de una expresi贸n en el lado derecho y una variable para almacenar el resultado.

In [6]:
x = 0.6
x = 3.9 * x * (1 - x)
print(x)

0.9359999999999999

## **Variables, expresiones y declaraciones - Expresiones**

### **Expresiones num茅ricas**

* Debido a la falta de s铆mbolos matem谩ticos en los teclados de computadora, utilizamos el "lenguaje inform谩tico" para expresar las operaciones matem谩ticas cl谩sicas.

* El asterisco es multiplicaci贸n.

* La exponenciaci贸n (elevada a una potencia) se ve diferente que en matem谩ticas.

| Operador | Operaci贸n |
|--- |--- |
| + | Suma |
| - | Resta|
|*|Multiplicacion|
|/|Division|
|**|Potenciacion|
|%|Resto|

In [7]:
xx = 2
xx = xx + 2
print(xx)

4

In [8]:
yy = 440 * 12
print(yy)

5280

In [9]:
zz = yy / 1000
print(zz)

5.28

In [10]:
jj = 23
kk = jj % 5
print(kk)

3

In [11]:
print(4 ** 3)

64

### **Orden de evaluaci贸n**

* Cuando encadenamos operadores. Python debe saber cu谩l hacer primero.

* Esto se llama precedencia de operadores.

*  驴Qu茅 operador tiene prioridad sobre los dem谩s?

In [12]:
x = 5
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### **Reglas de precedencia de operadores**

Regla de precedencia m谩s alta a regla de precedencia m谩s baja:

* Los par茅ntesis siempre se respetan.
* Exponenciaci贸n (elevar a una potencia).
* Multiplicaci贸n, Divisi贸n y Resto.
* Adici贸n y sustracci贸n.
* De izquierda a derecha.

In [13]:
x = 5
x = 1 + (2 ** 3) / (4 * 5)
print(x)

1.4

### **Prioridad del operador**

* Recuerda las reglas de arriba a abajo.
* Al escribir c贸digo, utilice par茅ntesis
* Al escribir c贸digo, mantenga expresiones matem谩ticas lo suficientemente simples como para que sean f谩ciles de entender.
* Divida largas series de operaciones matem谩ticas para hacerlas m谩s claras.

### **que significa tipo**

* En la variable Python, los literales y las constantes tienen un tipo.

* Python conoce la diferencia entre un n煤mero entero y una cadena.

* Por ejemplo "+" significa "suma" si algo es un n煤mero y concatenar si algo es una cadena.

In [14]:
ddd = 1 + 4
print(ddd)

5

### **El tipo importa**

* Python sabe de qu茅 tipo es todo.

* Algunas operaciones est谩n prohibidas.

* No puedes "agregar 1" a una cadena.

* Podemos preguntarle a Python qu茅 tipo es algo usando la funci贸n `type()`.

In [16]:
eee = 'hello ' + 'there'
print(eee)

hello there

### **Varios tipos de n煤meros**

* Los n煤meros tienen dos tipos principales.

- los n煤meros enteros son n煤meros enteros:

-14, -2, 0, 1, 100, 401233

- Los n煤meros de coma flotante tienen partes decimales:

 -2,5, 0,0, 98,6, 14,0

* Hay otros tipos de n煤meros: son variaciones de flotantes y enteros.

In [2]:
xx = 1
type(xx)

int

In [3]:
temp = 98.6
type(temp)

float

In [4]:
type(1)

int

In [5]:
type(1.0)

float

### **Conversiones de tipos**

* Cuando pones un n煤mero entero y un punto flotante en una expresi贸n, el n煤mero entero se convierte impl铆citamente en un punto flotante.

* Puedes controlar esto con las funciones integradas `int()` y `float()`.

In [6]:
print(float(99) + 100)

199.0

In [7]:
i = 42
type(i)

int

In [8]:
f = float(i)
print(f)

42.0

In [9]:
type(f)

float

### **Divisi贸n entera**

La divisi贸n de enteros produce un resultado de punto flotante.

In [10]:
print(10 / 2)

5.0

In [11]:
print(9 / 2)

4.5

In [12]:
print(99 / 100)

0.99

In [13]:
print(10.0 / 2.0)

5.0

In [14]:
print(99.0 / 100.0)

0.99

### **Conversiones de cadenas**

* Tambi茅n puedes usar `int()` y `float()` para convertir entre cadenas y n煤meros enteros.

* Recibir谩 un error si la cadena no contiene caracteres num茅ricos.

### **Entrada del Usuario**

* Podemos indicarle a Python que haga una pausa y lea los datos del usuario usando la funci贸n `input()`.

* la funci贸n `input()` devuelve una cadena.

In [20]:
nam = input('who are you?')
print('Welcome', nam)

Welcome gustavo

### **Convertir la entrada del usuario**

* Si queremos leer un n煤mero del usuario, debemos convertirlo de una cadena a un n煤mero usando una funci贸n de conversi贸n de tipo.

* M谩s adelante nos ocuparemos de los datos de entrada incorrectos.

In [22]:
inp = input('Europe floor?')
usf = int(inp) + 1
print('Us floor', usf)

Us floor 3

### **Comentarios en Python**

* Python ignora cualquier cosa despu茅s de `#`.
* 驴por qu茅 comentar?

Describir lo que va a suceder en una secuencia de c贸digo.

Documento que escribi贸 el c贸digo u otra informaci贸n auxiliar.

Desactivar una l铆nea de c贸digo, quiz谩s temporalmente.

In [15]:
# comentario
'''
comentario
varias
lineas
'''
"""
otro comentario
de varias
lineas
"""
print("hola") # comentario despues
#print("hola")

hola

## **Ejecuci贸n condicional**

In [16]:
x = 5
if x < 10:
  print('Smaller')
if x > 20:
  print('Bigger')
print('Finish')

Smaller
Finish

### **Operadores de comparaci贸n**

* Las expresiones booleanas hacen una pregunta y producen un resultado de `True`  o `False` que utilizamos para controlar el flujo del programa.

* Las expresiones booleanas que utilizan operadores de comparaci贸n se eval煤an como True / False o Yes / No.

* El operador de comparaci贸n mira las variables pero no las cambia.

| Python | Significado |
|--- |--- |
| < | menor que |
| <= | menor o igual que |
|==|igual que|
|>=|mayor o igual que|
|>|mayor que|
|!=|diferente que|

In [23]:
x = 5
if x == 5:
  print('Equals 5')
if x > 4:
  print('Greater than 4')
if x >= 5:
  print('Greater than or Equals 5')
if x < 6:
  print('Less than 6')
if x <= 5:
  print('Less than or Equals 5')
if x != 6:
  print('Not equal 6')

Equals 5
Greater than 4
Greater than or Equals 5
Less than 6
Less than or Equals 5
Not equal 6

In [24]:
x = 5
print('Before 5')
if x == 5:
  print('Is 5')
  print('Is Still 5')
  print('Third 5')
print('Afterwards 5')
print('Before 6')
if x == 6:
  print('Is 6')
  print('Is Still 6')
  print('Third 6')
print('Afterwards 6')

Before 5
Is 5
Is Still 5
Third 5
Afterwards 5
Before 6
Afterwards 6

### **Indentation**

* Aumentar sangr铆a: sangr铆a despu茅s de una declaraci贸n `if` o `for` (after:)

* Mantener sangr铆a: para indicar el alcance del bloque (qu茅 l铆neas se ven afectadas por el `if` / `for`)

* Reduzca la sangr铆a al nivel de la declaraci贸n `if` o `for` para indicar el final del bloque.

* Las l铆neas en blanco se ignoran, no afectan la sangr铆a.

* los comentarios en una l铆nea por s铆 solos se ignoran con respecto a la sangr铆a.

In [25]:
x = 5
if x > 2:
  print('Bigger than 2')
  print('Still bigger')
print('Done with 2')

for i in range(5):
  print(i)
  if i > 2:
    print('Bigger than 2')
  print('Done with i', i)
print('All Done')

Bigger than 2
Still bigger
Done with 2
0
Done with i 0
1
Done with i 1
2
Done with i 2
3
Bigger than 2
Done with i 3
4
Bigger than 2
Done with i 4
All Done

In [26]:
x = 42
if x > 1:
  print('More than one')
  if x < 100:
    print('Less than 100')
print('All')

More than one
Less than 100
All

In [27]:
x = 4
if x > 2:
  print('Bigger')
else:
  print('Smaller')
print('All done')

Bigger
All done

## **Ejecuci贸n condicional - M谩s estructuras condicionales**

In [28]:
x = 4
if x < 2:
  print('Small')
elif x < 10:
  print('Medium')
else:
  print('Large')
print('All done')

Medium
All done

In [29]:
x = 86
if x < 2:
  print('Small')
elif x < 10:
  print('Medium')
elif x < 20:
  print('Big')
elif x < 40:
  print('Large')
elif x < 100:
  print('Huge')
else:
  print('Ginormous')

Huge

In [30]:
x = 6
if x < 2:
  print('Below 2')
elif x >= 2:
  print('Two or more')
else:
  print('Something else')

Two or more

In [31]:
x = 8
if x < 2:
  print('Below 2')
elif x < 20:
  print('Below 20')
elif x < 10:
  print('Below 10')
else:
  print('Something else')

Below 20

### **la estructura try/except**

* Rodeas un c贸digo peligroso con try y except.

* Si el c贸digo en el intento funciona, se omite la excepci贸n.

* Si el c贸digo en el intento falla, salta a la secci贸n excepto.

In [32]:
astr = 'Hello Bob'
try:
  istr = int(astr)
except:
  istr = -1
print('First', istr)

astr = '123'
try:
  istr = int(astr)
except:
  istr = -1
print('Second', istr)

First -1
Second 123

In [33]:
astr = 'Bob'
try:
  print('Hello')
  istr = int(astr)
  print('There')
except:
  istr = -1
print('Done', istr)

Hello
Done -1

In [34]:
rawstr = input('Enter a number: ')
try:
  ival = int(rawstr)
except:
  ival = -1
if ival > 0:
  print('Nice work')
else:
  print('Not a number')

Nice work

## **Funciones**

In [35]:
def thing():
  print('Hello')
  print('Fun')

thing()
print('Zip')
thing()

Hello
Fun
Zip
Hello
Fun

### **Funciones de Python**

Hay dos tipos de funciones en Python.

* Funciones integradas que se proporcionan como parte de Python `print()`, `input()`, `type()`, `float()`, `int()`, .......

* funciones que nosotros mismos definimos y el uso.

tratamos los nombres de funciones como palabras reservadas "nuevas" (las evitamos como nombres de variables).

### **Definici贸n de funci贸n**

* En Python, una funci贸n es un c贸digo reutilizable que toma argumentos como entrada, realiza algunos c谩lculos y luego devuelve un resultado o resultados.

* definimos una funci贸n usando la palabra reservada `def`.

* llamamos / invocamos la funci贸n usando el nombre de la funci贸n, par茅ntesis y argumentos en una expresi贸n.

In [37]:
big = max('Hello world')
print(big)

w

In [38]:
tiny = min('Hello word')
print(tiny)

### **Conversiones de tipos**

* Cuando pones un n煤mero entero y un punto flotante en una expresi贸n, el n煤mero entero se convierte impl铆citamente en un punto flotante.

* Puedes controlar esto con las funciones integradas `int()` y `float()`.

In [17]:
print(float(99) / 100)

0.99

In [18]:
i = 42
type(i)

int

In [19]:
f = float(i)
print(f)

42.0

In [20]:
type(f)

float

In [21]:
print(1 + 2 * float(3) / 4 - 5)

-2.5

### **Conversiones de cadenas**

* Tambi茅n puedes usar `int()` y `float()` para convertir entre cadenas y n煤meros enteros.

* Recibir谩 un error si la cadena no contiene caracteres num茅ricos.

## **Funciones - Funciones propias**

### **Construyendo nuestras propias funciones**

* Creamos una nueva funci贸n usando la palabra clave `def` seguido de par谩metros opcionales entre par茅ntesis.

* Sangramos el cuerpo de la funci贸n.

* Esto define la funci贸n pero no ejecuta el cuerpo de la funci贸n.

### **Definiciones y usos**

* Una vez que hemos definido una funci贸n, podemos llamarla (o invocarla) tantas veces como queramos.

* Este es el patr贸n de almacenar y reutilizar.

### **Argumentos**

* Un argumento es un valor que pasamos a la funci贸n como entrada cuando llamamos a la funci贸n.

* Usamos argumentos para poder dirigir la funci贸n a realizar diferentes tipos de trabajo cuando la llamamos en diferentes momentos.

* Ponemos los argumentos entre par茅ntesis despu茅s del nombre de la funci贸n.

### **Par谩metros**

un par谩metro es una variable que usamos en la definici贸n de la funci贸n; es un "identificador" que permite que el c贸digo de la funci贸n acceda a los argumentos para una invocaci贸n de funci贸n particular.

In [39]:
def greet(lang):
  if lang == 'es':
    print('Hola')
  elif lang == 'fr':
    print('Bonjour')
  else:
    print('Hello')

In [40]:
greet('en')

Hello

In [41]:
greet('es')

Hola

In [42]:
greet('fr')

Bonjour

### **Valores de retorno**

A menudo una funci贸n tomar谩 sus argumentos, har谩 algunos c谩lculos y devolver谩 un valor que se usar谩 como el valor de la llamada a la funci贸n en la expresi贸n de llamada, la palabra clave `return` se usa para esto.

In [43]:
def greet():
  return "Hello"
print(greet(), "Glenn")
print(greet(), "Sally")

Hello Glenn
Hello Sally

### **Valor de retorno**

* Una funci贸n fruct铆fera es aquella que produce un resultado (o valor de retorno)

* La declaraci贸n de retorno finaliza la ejecuci贸n de la funci贸n y devuelve el resultado de la funci贸n.

In [45]:
def greet(lang):
  if lang == 'es':
    return 'Hola'
  elif lang == 'fr':
    return 'Bonjour'
  else:
    return 'Hello'
print(greet('en'), 'Glenn')
print(greet('es'), 'Sally')
print(greet('fr'), 'Michael')

Hello Glenn
Hola Sally
Bonjour Michael

### **M煤ltiples par谩metros/argumentos**

* Podemos definir m谩s de un par谩metro en la definici贸n de la funci贸n.

* Simplemente agregamos m谩s argumentos cuando llamamos a la funci贸n.

* Hacemos coincidir el n煤mero y el orden de los argumentos y par谩metros.

In [46]:
def addtwo(a, b):
  added = a + b
  return added
x = addtwo(3, 5)
print(x)

8

### **Funciones nulas (no fruct铆feras)**

* Cuando una funci贸n no devuelve un valor, la llamamos funci贸n "nula".

* Las funciones que devuelven valores son funciones "fruct铆feras".

* las funciones nulas "no son fruct铆feras".

### **Funcionar o no Funcionar**

* Organice su c贸digo en "p谩rrafos": capture un pensamiento completo y "p贸ngale un nombre".

* No te repitas: haz que funcione una vez y luego reutil铆zalo.

* Si algo se vuelve demasiado largo o complejo, div铆dalo en partes l贸gicas y col贸quelas en funciones.

* Crea una biblioteca de cosas comunes que vuelvas a hacer; tal vez comp谩rtela con tus amigos.

## **Bucles e iteraci贸n**

In [47]:
n = 5
while n > 0:
  print(n)
  n = n - 1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

Los bucles (pasos repetidos) tienen variables de iteraci贸n que cambian cada vez que pasan por un bucle. A menudo, estas variables de iteraci贸n pasan por una secuencia de n煤meros.

In [49]:
n = 0
while n > 0:
  print('Lather')
  print('Rinse')
print('Dry off!')

Dry off!

### **Salir de un bucle**

* La declaraci贸n `break` finaliza el ciclo actual y salta a la declaraci贸n inmediatamente despu茅s del ciclo.

* Es como una prueba de bucle que puede ocurrir en cualquier parte del cuerpo del bucle.

In [22]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done!')

8
7
4

### **Terminar una iteraci贸n con continue**

La declaraci贸n de continuaci贸n finaliza la iteraci贸n actual y salta a la parte superior del bucle e inicia la siguiente iteraci贸n.

In [ ]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('Done!')

### **Bucles indefinidos**

* Los bucles `while` se denominan "bucles indefinidos" porque contin煤an hasta que una condici贸n l贸gica se vuelve falsa.

* Los bucles que hemos visto hasta ahora son bastante f谩ciles de examinar para ver si terminar谩n o si ser谩n "bucles infinitos".

* A veces es un poco m谩s dif铆cil estar seguro de si un bucle terminar谩.

## **Bucles e iteraci贸n - Bucles definidos**

### **Bucles definidos**

* Muy a menudo tenemos una lista de elementos de las l铆neas en un archivo, efectivamente, un conjunto finito de cosas.

* Podemos escribir un bucle para ejecutarlo una vez para cada uno de los elementos de un conjunto usando Python para construir.

* Estos bucles se llaman "bucles definidos" porque se ejecutan un n煤mero exacto de veces.

* decimos que "LOS BUCLES DEFINIDOS ITERAN A TRAVS DE LOS MIEMBROS DE UN CONJUNTO"

In [2]:
for i in [5, 4, 3, 2, 1]:
  print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [3]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
  print('Happy New Year: ', friend)
print('Done!')

Happy New Year:  Joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

### **Mirando en ...**

* La variable de iteraci贸n "itera" a trav茅s de la secuencia (conjunto ordenado).

* El bloque (cuerpo) de c贸digo se ejecuta una vez por cada valor de la secuencia.

* La variable de iteraci贸n se mueve a trav茅s de todos los valores en la secuencia.

## **Bucles e iteraci贸n - Modismos de bucles**

In [4]:
print('Before')
for thing in [9, 41, 12, 3, 74, 15]:
  print(thing)
print('After')

Before
9
41
12
3
74
15
After

In [5]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
  if the_num > largest_so_far:
    largest_so_far = the_num
  print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

## **Bucles e iteraci贸n: m谩s patrones de bucles**

In [6]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15]:
  zork = zork + 1
  print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [7]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15]:
  count = count + 1
  sum = sum + value
  print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [8]:
print('Before')
for value in [9, 41, 12, 3, 74, 15]:
  if value > 20:
    print('Large number', value)
print('After')

Before
Large number 41
Large number 74
After

In [9]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15]:
  if value == 3:
    found = True
  print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [10]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
  if the_num > largest_so_far:
    largest_so_far = the_num
  print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [11]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
  if the_num < smallest_so_far:
    smallest_so_far = the_num
  print(smallest_so_far, the_num)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [12]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15]:
  if smallest is None:
    smallest = value
  elif value < smallest:
    smallest = value
  print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

## **Cadenas**

In [13]:
str1 = 'Hello'
str2 = 'there'

bob = str1 + str2
print(bob)

Hellothere

In [14]:
str3 = '123'
x = int(str3) + 1
print(x)

124

In [15]:
name = input('Enter:')
print(name)

gustavo

In [16]:
apple = input('Enter: ')

x = int(apple) - 10
print(x)

-1

In [17]:
fruit = 'banana'
letter = fruit[1]
letter

'a'

In [18]:
x = 3
w = fruit[x - 1]
w

'n'

In [19]:
fruit = 'banana'
print(len(fruit))

6

In [20]:
fruit = 'banana'
index = 0
while index < len (fruit):
  letter = fruit[index]
  print(index, letter)
  index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [21]:
fruit = 'banana'
for letter in fruit:
  print(letter)

b
a
n
a
n
a

In [22]:
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index + 1

b
a
n
a
n
a

In [23]:
word = 'banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
print(count)

3

In [24]:
for letter in 'banana':
  print(letter)

b
a
n
a
n
a

## **Cadenas: m谩s operaciones con cadenas**

In [26]:
s = 'Monty Python'
print(s[0:4])
print(s[6:7])
print(s[6:20])

Mont
P
Python

In [27]:
s = 'Monty Python'
print(s[:2])
print(s[8:])
print(s[:])

Mo
thon
Monty Python

In [28]:
a = 'Hello'
b = a + 'there'
print(b)

Hellothere

In [29]:
c = a + ' ' + 'There'
print(c)

Hello There

In [1]:
fruit = "banana"
"n" in fruit

True

In [2]:
"m" in fruit

False

In [3]:
"nan" in fruit

True

In [4]:
if "a" in fruit:
  print("Found it!")

Found it!

In [7]:
word = 'platano'
if word == 'banana':
  print('All right, banana.')
if word < 'banana':
  print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
  print('Your word,' + word + ', comes after banana.')
else:
  print('All right, bananas.')

Your word,platano, comes after banana.

In [8]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)

hello bob

In [9]:
print(greet)

Hello Bob

In [10]:
print('Hi There'.lower())

hi there

In [11]:
stuff = 'Hello world'
type(stuff)

str

In [12]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
fruit = 'banana'
pos = fruit.find('na')
print(pos)

2

In [14]:
aa = fruit.find('z')
print(aa)

-1

In [15]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)

HELLO BOB

In [16]:
www = greet.lower()
print(www)

hello bob

In [17]:
greet = 'Hello Bob'
nstr = greet.replace('Bob', 'Jane')
print(nstr)

Hello Jane

In [18]:
nstr = greet.replace('o', 'x')
print(nstr)

Hellx Bxb

In [19]:
greet = '  Hello Bob   '
greet.lstrip()

'Hello Bob   '

In [21]:
greet.rstrip()

'  Hello Bob'

In [22]:
greet.strip()

'Hello Bob'

In [23]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [24]:
line.startswith('P')

True

In [26]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

21

In [27]:
sppos = data.find(' ', atpos)
print(sppos)

31

In [28]:
host = data[atpos + 1 : sppos]
print(host)

uct.ac.za

## **Leyendo archivos**

In [30]:
fhand = open('../data/employees.txt')
fhand

In [31]:
stuff = 'Hello\nWorld!'
stuff

'Hello\nWorld!'

In [32]:
print(stuff)

Hello
World!

In [33]:
len(stuff)

12

### **Leer archivos en Python**

In [34]:
xfile = open('../data/employees.txt')
for cheese in xfile:
  print(cheese)

Jim - Salesman

Dwight - Salesman

Pam - Receptionist

Michael - Manager

Oscar - AccountantToby - Human Resources

Kelly - Customer Service

In [35]:
fhand = open('../data/employees.txt')
count = 0
for line in fhand:
  count = count + 1
print('Line Count: ', count)

Line Count:  6

In [36]:
fhand = open('../data/employees.txt')
inp = fhand.read()
print(len(inp))

135

In [37]:
print(inp[:20])

Jim - Salesman
Dwigh

In [38]:
fhand = open('../data/employees.txt')
for line in fhand:
  if line.startswith('Pam'):
    print(line)

Pam - Receptionist

In [39]:
fhand = open('../data/employees.txt')
for line in fhand:
  line = line.rstrip()
  if line.startswith('Pam'):
    print(line)

Pam - Receptionist

In [40]:
fhand = open('../data/employees.txt')
for line in fhand:
  line = line.rstrip()
  if not line.startswith('Pam'):
    continue
  print(line)

Pam - Receptionist

## **Lists**

In [41]:
friends = ['Joseph', 'Glenn', 'Sally']
carryon = ['Socks', 'Shirt', 'Perfume']

In [42]:
print([1, 24, 76])

[1, 24, 76]

In [43]:
print(['red', 'yellow', 'blue'])

['red', 'yellow', 'blue']

In [44]:
print([1, [5, 6], 7])

[1, [5, 6], 7]

In [45]:
print([])

[]

In [47]:
for i in [5, 4, 3, 2, 1]:
  print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [48]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
  print('Happy New Year: ', friend)
print('Done!')

Happy New Year:  Joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

In [49]:
z = ['Joseph', 'Glenn', 'Sally']
for x in z:
  print('Happy New Year: ', x)
print('Done!')

Happy New Year:  Joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

In [50]:
friends = ['Joseph', 'Glenn', 'Sally']
print(friends[1])

Glenn

In [52]:
fruit = 'Banana'
x = fruit.lower()
print(x)

banana

In [53]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [54]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

In [55]:
greet = 'Hello Bob'
print(len(greet))

9

In [56]:
x = [1, 2, 'joe', 99]
print(len(x))

4

In [57]:
print(range(4))

range(0, 4)

In [58]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [59]:
print(range(len(friends)))

range(0, 3)

In [60]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [61]:
print(range(len(friends)))

range(0, 3)

In [62]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [63]:
print(a)

[1, 2, 3]

In [64]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [65]:
t[:4]

[9, 41, 12, 3]

In [66]:
t[3:]

[3, 74, 15]

In [67]:
t[:]

[9, 41, 12, 3, 74, 15]

In [68]:
x = list()
type(x)

list

In [69]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [71]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

In [72]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [73]:
15 in some

False

In [74]:
20 not in some

True

In [75]:
friends = ['Joseph', 'Glenn', 'Sally']
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [76]:
print(friends[1])

Joseph

In [77]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [78]:
print(max(nums))

74

In [79]:
print(min(nums))

3

In [80]:
print(sum(nums))

154

In [81]:
print(sum(nums) / len(nums))

25.666666666666668

In [82]:
total = 0
count = 0
while True:
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  total = total + value
  count = count + 1

average = total / count
print('Average: ', average)

Average:  8.909090909090908

In [83]:
numlist = list()
while True:
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  numlist.append(value)

average = sum(numlist) / len(numlist)
print('average: ', average)

average:  5.666666666666667

In [84]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

In [85]:
print(len(stuff))

3

In [86]:
print(stuff[0])

With

In [87]:
for w in stuff:
  print(w)

With
three
words

In [88]:
line = 'A lot'
etc = line.split()
print(etc)

['A', 'lot']

In [91]:
line = 'first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [92]:
print(len(thing))

1

In [93]:
thing = line.split(';')
print(thing)

['first', 'second', 'third']

In [94]:
print(len(thing))

3

In [95]:
fhand = open('../data/employees.txt')
for line in fhand:
  line = line.rstrip()
  if not line.startswith('Pam'): continue
  words = line.split()
  print(words[2])

Receptionist

In [96]:
line = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
words = line.split()
print(words)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [99]:
email = words[1]
print(email)
pieces = email.split('@')
print(pieces[1])

stephen.marquard@uct.ac.za
uct.ac.za

## **Dictionaries**

In [100]:
purse = dict()
purse['monday'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

{'monday': 12, 'candy': 3, 'tissues': 75}

In [101]:
print(purse['candy'])

3

In [102]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'monday': 12, 'candy': 5, 'tissues': 75}

In [103]:
lst =list()
lst.append(21)
lst.append(183)
print(lst)

[21, 183]

In [104]:
lst[0] = 23
print(lst)

[23, 183]

In [106]:
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)

{'age': 21, 'course': 182}

In [107]:
ddd['age'] = 23
print(ddd)

{'age': 23, 'course': 182}

In [109]:
lst = list()
lst.append(21)
lst.append(183)
print(lst)

[21, 183]

In [110]:
lst[0] = 23
print(lst)

[23, 183]

In [111]:
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)

{'age': 21, 'course': 182}

In [112]:
ddd['age'] = 23
print(ddd)

{'age': 23, 'course': 182}

In [113]:
jjj = {'chuck':1, 'fred':42, 'jan':100}
print(jjj)

{'chuck': 1, 'fred': 42, 'jan': 100}

In [114]:
ccc = dict()
ccc['csev'] = 1
ccc['cwen'] = 1
print(ccc)

{'csev': 1, 'cwen': 1}

In [115]:
ccc['cwen'] = ccc['cwen'] + 1
print(ccc)

{'csev': 1, 'cwen': 2}

In [116]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names:
  if name not in counts:
    counts[name] = 1
  else:
    counts[name] = counts[name] + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [117]:
if name in counts:
  x = counts[name]
else:
  x = 0

In [119]:
x = counts.get(name, 0)
print(x)

2

In [120]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names:
  counts[name] = counts.get(name, 0) + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [121]:
counts = dict()
print('Enter a line of text: ')
line = input(' ')
print('Words:', words)
print('Counting...')
for word in words:
  counts[word] = counts.get(word, 0) + 1
print('Counts', counts)

Enter a line of text:
Words: ['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']
Counting...
Counts {'From': 1, 'stephen.marquard@uct.ac.za': 1, 'Sat': 1, 'Jan': 1, '5': 1, '09:14:16': 1, '2008': 1}

In [122]:
counts = {'chuck' : 1, 'fred' : 42, 'jan' : 100}
for key in counts:
  print(key, counts[key])

chuck 1
fred 42
jan 100

In [123]:
jjj = {'chuck' : 1, 'fred' : 42, 'jan' : 100}
print(list(jjj))

['chuck', 'fred', 'jan']

In [124]:
print(list(jjj.keys()))

['chuck', 'fred', 'jan']

In [125]:
print(list(jjj.values()))

[1, 42, 100]

In [126]:
print(list(jjj.items()))

[('chuck', 1), ('fred', 42), ('jan', 100)]

In [127]:
jjj = {'chuck' : 1, 'fred' : 42, 'jan' : 100}
for aaa, bbb in jjj.items():
  print(aaa, bbb)

chuck 1
fred 42
jan 100

## **Tuples**

In [1]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])

Joseph

In [2]:
y = (1, 9, 2)
print(y)

(1, 9, 2)

In [3]:
print(max(y))

9

In [4]:
for iter in y:
  print(iter)

1
9
2

In [5]:
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

In [6]:
l = list()
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
t = tuple()
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
(x, y) = (4, 'fred')
print(y)

fred

In [9]:
(a, b) = (99, 98)
print(a)

99

In [11]:
d = dict()
d['csey'] = 2
d['cwen'] = 4
for (k, y) in d.items():
  print(k, y)

csey 2
cwen 4

In [12]:
tups = d.items()
print(tups)

dict_items([('csey', 2), ('cwen', 4)])

In [13]:
(0, 1, 2) < (5, 1, 2)

True

In [14]:
(0, 1, 20000000) < (0, 3, 4)

True

In [15]:
('Jones', 'Sally') < ('Jones', 'Sam')

True

In [16]:
('Jones', 'Sally') > ('Adams', 'Sam')

True

In [17]:
d = {'a' : 10, 'b' : 1, 'c' : 22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [18]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

In [19]:
d = {'a':10, 'b':1, 'c':22}
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [20]:
for k, v in sorted(d.items()):
  print(k, v)

a 10
b 1
c 22

In [22]:
c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items():
  tmp.append((v, k))
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [23]:
tmp = sorted(tmp, reverse = True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [24]:
fhand = open('../data/employees.txt')
counts = {}
for line in fhand:
  words = line.split()
  for word in words:
    counts[word] = counts.get(word, 0) + 1

lst = []
for key, val in counts.items():
  newtup = (val, key)
  lst.append(newtup)

lst = sorted(lst, reverse = True)
for val, key in lst[:10]:
  print(key, val)

- 7
Salesman 2
Service 1
Resources 1
Receptionist 1
Pam 1
Oscar 1
Michael 1
Manager 1
Kelly 1

In [25]:
c = {'a':10, 'b':1, 'c':22}
print(sorted([(y, k) for k, y in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

## **Regular Expressions**

In [26]:
hand = open('../data/employees.txt')
for line in hand:
  line = line.rstrip()
  if line.find('Pam') >= 0:
    print(line)

Pam - Receptionist

In [27]:
import re

hand =open('../data/employees.txt')
for line in hand:
  line = line.rstrip()
  if re.search('Pam', line):
    print(line)

Pam - Receptionist

In [28]:
hand = open('../data/employees.txt')
for line in hand:
  line = line.rstrip()
  if line.startswith('Pam'):
    print(line)

Pam - Receptionist

In [29]:
import re

hand = open('../data/employees.txt')
for line in hand:
  line = line.rstrip()
  if re.search('^Pam', line):
    print(line)

Pam - Receptionist

In [30]:
import re

x = 'My 2 favorite numbers are 19 and 42'
y = re.findall('[0-9]+', x)
print(y)

['2', '19', '42']

In [32]:
y = re.findall('[AEIOU]+', x)
print(y)

[]

In [33]:
import re

x = 'From: Using the : character'
y = re.findall('^F.+:', x)
print(y)

['From: Using the :']

In [34]:
import re

x = 'From: Using the : character'
y = re.findall('^F.+?:', x)
print(y)

['From:']

In [37]:
import re

x = 'We just received $10.00 for cookies.'
y = re.findall('\$[0-9.]+', x)
print(y)

['$10.00']

| **Inicio** | **atr谩s 2** |
|----------- |-------------- |
| [](../../README.md) | [](./2_Python_para_ciencia_de_datos.ipynb)|